/* Estilo Geral do Site */
*{
    margin: 0; /* Remove a margem de todos os elementos */
    padding: 0; /* Remove o preenchimento de todos os elementos */
    box-sizing: border-box; /* Faz com que as bordas e o padding sejam contados no tamanho do elemento */
    font-family: 'Poppins', sans-serif; /* Define a fonte padrão para o site */
}

body{
    background-color: black; 
    height: 100vh; /* Faz a altura do body ocupar toda a altura da tela */
}

.interface{
    max-width: 1280px; /* Define a largura máxima da interface */
    margin: 0 auto; /* Centraliza a interface na tela */
}

.flex{
    display: flex; /* Aplica o modelo de layout flexível aos elementos dentro dessa classe */
}

h2.title{
    color: #fff; 
    font-size: 38px; 
    text-align: center; /* Alinha o texto ao centro */
}

h2.title span{
    color: #6f5fc7; 
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #6f5fc7; /* Adiciona uma sombra quando o botão é hover */
    transform: scale(1.05); /* Aumenta o tamanho do botão quando é hover */
}

/* Estilo do Header */
header {
    position: fixed; /* Faz o header ficar fixo no topo da página */
    top: 0; 
    left: 0; 
    width: 100%; /* Faz o header ocupar toda a largura da tela */
    background-color: black; 
    z-index: 1000; /* Garante que o header fique sobre outros elementos da página */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 15px 4%; /* Define o preenchimento interno do header */
}

header > .interface{
    display: flex; /* Usa o layout flexível para os elementos */
    align-items: center; /* Alinha os itens no centro */
    justify-content: space-between; /* Distribui os itens com espaço igual entre eles */
}

header a{
    color: #C8C4DF; 
    text-decoration: none; /* Remove o sublinhado dos links */
    display: inline-block; /* Faz os links se comportarem como blocos */
    transition: .2s; /* Adiciona uma transição suave */
}

header a:hover{
    color: #fff; 
    transform: scale(1.05); /* Aumenta o tamanho do link quando o mouse passa sobre ele */
}

header nav ul{
    list-style-type: none; /* Remove os marcadores de lista da lista */
}

header nav ul li{
    display: inline-block; /* Exibe os itens da lista em linha */
    padding: 0 40px; /* Adiciona um preenchimento horizontal entre os itens */
}

header .btn-contato button{
    padding: 10px 40px; /* Define o preenchimento interno do botão */
    font-size: 18px; 
    font-weight: 600; 
    background-color: #8e82cd; 
    border: 0; /* Remove a borda */
    border-radius: 30px; /* Torna as bordas do botão arredondadas */
    cursor: pointer; /* Muda o cursor para uma mãozinha ao passar sobre o botão */
}


/* Estilo do Topo */
section.topo-site{
    padding: 40px 4%; /* Adiciona um preenchimento */
}

section.topo-site .flex{
    align-items: center; /* Alinha os itens no centro */
    justify-content: center;
    gap: 90px; /* Adiciona um espaço entre os itens dentro do container */
}

.topo-site h1{
    color: #fff; 
    font-size: 38px; 
    line-height: 38px; 
    padding-top: 100px; /* Adiciona um preenchimento no topo, afastando o título do início */
}

.topo-site .txt-top h1 span{
    color: #6f5fc7; 
    font-size: 50px; 
}

.topo-site .txt-top p{
    color: #fff; 
    margin: 40px 0; /* Adiciona uma margem no parágrafo */
}

.topo-site .img-top img{
    position: relative; /* Imagem posicionada de forma relativa dentro do container */
    animation: img-flutuante 2s ease-in-out infinite alternate; /* Aplica uma animação que faz a imagem "flutuar" */
}

/* animação */
@keyframes img-flutuante{
    0% {
        top: 80px; 
    }

    100%{
        top: 30px; 
    }
}


/* Formação Estilo */
section.formacao{
    padding: 40px 4%; /* Adiciona  preenchimento no topo e na parte inferior */
}

section.formacao .flex{
    display: flex; /* Usa o modelo de layout flexível para organizar */
    justify-content: center;   /* Centraliza as caixas */
    align-items: center;       /* Centraliza as caixas */
    gap: 60px;                 /* Define um espaço entre as caixas */
    flex-wrap: wrap;           /* Permite que as caixas se ajustem */
    text-align: center;        /* Centraliza o conteúdo dentro das caixas */
}

.formacao .formacao-box{
    color: #fff; 
    padding: 40px;  
    margin-top: 35px; /* Adiciona uma margem no topo de cada caixa */
    border-radius: 20px; /* Torna as bordas da caixa arredondadas */
    transition: .2s; /* Adiciona uma transição suave */
}

.formacao .formacao-box:hover{
    transform: scale(1.05); /* Aumenta tamanho da caixa quando o mouse passa sobre ela */
    box-shadow: 0 0 10px #7d8dbe; 
}

.formacao .formacao-box i{
    font-size: 60px; 
    color: #6f5fc7;
}

.formacao .formacao-box h3{
    font-size: 30px; 
    margin: 20px 0; 
}


/* Sobre Estilo */
section.sobre{
    padding: 85px 4%;
}

section.sobre .flex{
    align-items: center; /* Alinha os itens no centro */
    gap: 60px; /* Adiciona um espaço dentro do container */
}

.sobre .txt-sobre{
    color: #fff; 
}

.sobre .txt-sobre h2{
    font-size: 48px; 
    line-height: 50px; /* Define a altura da linha para o título */
    margin-bottom: 25px; /* Adiciona uma margem */
}

.sobre .txt-sobre h2 span{
    color: #6f5fc7; 
    display: block; /* Faz o <span> se comportar como um bloco, ocupando toda a linha */
}

.sobre .txt-sobre p{
    margin: 22px 0; 
    text-align: justify; /* Alinha o texto do parágrafo de forma justificada */
}


/* Botão social midia */
.btn-midia button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #7d8dbe;
    font-size: 30px;
    cursor: pointer;
    margin: 8px;
    transition: .2s;

}

/* Projeto Estilo */
section.projetos{
    padding: 84px 4%;
    /*box-shadow: 0 0 5px 5px #252731;*/
}

section.projetos .flex{
    justify-content: space-around;
    padding-top: 50px;
}

.img-projetos{
    width: 360px;
    height: 460px;
    background-color: #8e82cd;
    background-size: cover;
    background-position: 100% 0%;
    transition: 10s;
    cursor: pointer;
    border-radius: 30px;
    position: relative;
}

.img-projetos:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6e5fc771;
    border-radius: 30px ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/* Formulario Estilo */
section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 38px;
}

form input{
    width: 100%;
    background-color: #00000032;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 18px;
    color: #fff;
    font-size: 16px;
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 18px;
    color: #fff;
    font-size: 16px;
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 22px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #6f5fc7;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

/* Estilo Foonter */
footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex{
    justify-content: space-between;
}

footer .linha-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #7d8dbe;
}

footer .linha-footer p i{
    color: #8e82cd;
    font-size: 24px;
}

footer .linha-footer p a{
    color: #fff;
}