/* Estilo Geral do Site */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

h2.title{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.title span{
    color: #6f5fc7;
}

/* Estilo do Header */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #C8C4DF;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #8e82cd;
    border: 0;
    border-radius: 30px;
    cursor: pointer;

}

header .btn-contato button:hover{
    box-shadow: 0px 0px 8px #6f5fc7;
}

/* Estilo do Todo */

section.topo-site{
    padding: 40px 4%;
}

section.topo-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-site h1{
    color: #fff;
    font-size: 38px;
    line-height: 38px;
}

.topo-site .txt-top h1 span{
    color: #6f5fc7;
    font-size: 50px;
}

.topo-site .txt-top p{
    color: #fff;
    margin: 40px 0;
}

.topo-site .img-top img{
    position: relative;
    animation: img-flutuante 2s ease-in-out infinite alternate;
}

@keyframes img-flutuante{
    0% {
        top: 0;
    }

    100%{
        top: 30px;
    }
}

/* Formação Estilo */
section.formacao{
    padding: 40px 4%;
}

section.formacao .flex{
    display: flex;
    justify-content: center;   /* Centraliza as caixas horizontal */
    align-items: center;       /* Centraliza as caixas verticalmente*/
    gap: 60px;                 /* Espaço entre as caixas */
    flex-wrap: wrap;           /* Faz as caixas se ajustarem em telas menores */
    text-align: center;        /* Centraliza o conteúdo dentro das boxes */
}

.formacao .formacao-box{
    color: #fff;
    padding: 40px;  
    margin-top: 35px;
    border-radius: 20px;
    transition: .2s;
}

.formacao .formacao-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #7d8dbe;
}

.formacao .formacao-box i{
    font-size: 60px;
    color: #6f5fc7;
}

.formacao .formacao-box h3{
    font-size: 30px;
    margin: 20px 0;
}

/* Sobre Estilo */

section.sobre{
    padding: 40px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 25px;
}

.sobre .txt-sobre h2 span{
    color: #6f5fc7;
    display: block;
}

.sobre .txt-sobre p{
    margin: 22px 0;
    text-align: justify;
}

/* Botão social midia */
.sobre .txt-sobre .btn-midia button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #7d8dbe;
    font-size: 30px;
    cursor: pointer;
    margin: 8px;
}